.amount-container {
  display: flex;
  height: 200px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  

}
.amount-name {
  margin-left: -200px;
  padding: 20px 20px;
  height: 150px;
}

.amount-numb {
  margin-left: 100px;
}

.amount-item {
  margin: 0px 20px;
  padding: 10px;
  font-weight: bolder;
  
}
.amount-numb {
  margin: -170px;
  padding: 50px;
  font-weight: bold;
  
}
.each {
  padding: 10px 20px;
  height: 40px;
   margin-right: -100px;
   margin-left: -50px
}
.each1{
  
 margin-left: 00px 
}

@media screen 
  and (min-device-width: 300px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .amount-container {
      display: flex;
      justify-content: space-around;
      align-content: center;
    } 
    /* .amount-numb {
        margin: 100px;
        padding: 50px;
        font-weight: bold;
  
} */
  }
