.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  width: 100%;
  height: 50vh;
  /* background-color: red; */
  justify-items: space-between;
  align-items: start;
  
}

.image-content {
  grid-column: span 1;
  margin-left: 100px;
}

.form-control1 {
  grid-column: span 1;
  margin-left: 300px;
   /* background-color: blue; */
   margin-top: 20px;
   min-width: 300px;

}

.form-control2 {
  grid-column: span 1;
  margin-left: 20px;
  /* background-color: rgb(100, 100, 119); */
  width: 300px;
}
.btn0 {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.btn1{
  margin-right: 100px;
   width: 650px;
   height: 50px;
   border-radius: 5px;
   background-color: rgb(15, 70, 221);;
   color:white;
   height: 60px ;
   font-weight: 900;
   font-size: 20px;
   
}

.input-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 5px;
}
.dot {
  height: 25px;
  width: 25px;
  /* background-color: #bbb; */
  border-radius: 50%;
  display: inline-block;
}


.radio-container{
  /* background-color: coral; */
  display: flex;
  justify-content: center;
  align-content: center;
  right:0px
}

.container {
  margin-right: -350px;
  padding-bottom: 20px;
}

.p{
  font-size: 15px;
  font-weight: bolder ;
}

@media screen 
  and (min-device-width: 300px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .content-container {
      background-color: green;
      display: grid;
      grid-template-columns: 100px;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      height: 1000px;
    }
    .image-content {
      margin-left: 30px;
    }
    .form-control1 {
      margin-left: 60px;
    }
    .form-control2{
      margin-left: 60px;
      margin-top: -60px;
    }
    .radio-container {
      margin-left: -390px;
      margin-top: -360px;
      
    }
    .btn0{
      margin-left: 100px;
    }
}