.footer-container {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn {
  margin-left: 100px;
  background-color: rgb(15, 70, 221);
  color: antiquewhite;
  padding: 20px 100px;
  border-radius: 5px;
  font-weight: 900;
  font-size: 20px;
}

.total {
  margin-right: 100px;
  font-weight: 900;
}

@media screen 
  and (min-device-width: 300px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .footer-container {
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .btn{
      padding: 20px 50px;
      margin-right: 100px;
    }
  }
